<a href="https://colab.research.google.com/github/sadashish2002/DSA-Problem-using-Python-/blob/main/DSA_que.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df_temp =pd.DataFrame({'a':[0,1,2,4,5,3,2,5,6],'b': [3,0,1,2,5,4,2,1,0],'c':[2,0,1,2,4,5,6,2,1]})
df_temp

   a  b  c
0  0  3  2
1  1  0  0
2  2  1  1
3  4  2  2
4  5  5  4
5  3  4  5
6  2  2  6
7  5  1  2
8  6  0  1

In [ ]:
#index and slicing
#iloc will take slice with respect to index
df_temp.iloc[1:5,0:]

   a  b  c
1  1  0  0
2  2  1  1
3  4  2  2
4  5  5  4

In [ ]:
#loc will slice with respect to name or number of row and column
df_temp.loc[1:5,['a','c']]

   a  c
1  1  0
2  2  1
3  4  2
4  5  4
5  3  5

In [ ]:
df_temp.loc[[2,5,7],['a','c']]

   a  c
2  2  1
5  3  5
7  5  2

In [ ]:
#single column =series
df_temp['a']

0    0
1    1
2    2
3    4
4    5
5    3
6    2
7    5
8    6
Name: a, dtype: int64

In [ ]:
#multiple collumn = dataframe
df_temp[['b','c']]

   b  c
0  3  2
1  0  0
2  1  1
3  2  2
4  5  4
5  4  5
6  2  6
7  1  2
8  0  1

In [ ]:
#boolean indexing to search specific row valu of specific column
df_temp[df_temp['a']==1]

   a  b  c
1  1  0  0

In [ ]:
df_temp[df_temp['b']>=1]

   a  b  c
0  0  3  2
2  2  1  1
3  4  2  2
4  5  5  4
5  3  4  5
6  2  2  6
7  5  1  2

In [ ]:
#activity 2
eng = df[df["orginal"]=="en"]

In [ ]:
#column manipulation
#create new column

df_temp['d'] = 2*df_temp['c']
df_temp

   a  b  c   d
0  0  3  2   4
1  1  0  0   0
2  2  1  1   2
3  4  2  2   4
4  5  5  4   8
5  3  4  5  10
6  2  2  6  12
7  5  1  2   4
8  6  0  1   2

In [ ]:
df_temp.drop(['d'],axis=1)

   a  b  c
0  0  3  2
1  1  0  0
2  2  1  1
3  4  2  2
4  5  5  4
5  3  4  5
6  2  2  6
7  5  1  2
8  6  0  1

In [ ]:
df_temp

   a  b  c   d
0  0  3  2   4
1  1  0  0   0
2  2  1  1   2
3  4  2  2   4
4  5  5  4   8
5  3  4  5  10
6  2  2  6  12
7  5  1  2   4
8  6  0  1   2

In [ ]:
#use inplace =True to permanently delete d column
df_temp.drop(['d'],axis=1,inplace =True)
df_temp

   a  b  c
0  0  3  2
1  1  0  0
2  2  1  1
3  4  2  2
4  5  5  4
5  3  4  5
6  2  2  6
7  5  1  2
8  6  0  1

In [ ]:
df_temp

   a  b  c
0  0  3  2
1  1  0  0
2  2  1  1
3  4  2  2
4  5  5  4
5  3  4  5
6  2  2  6
7  5  1  2
8  6  0  1

In [ ]:
#add column d = add of two column value
df_temp['d']=df_temp['a']+df_temp['b']
df_temp

   a  b  c   d
0  0  3  2   3
1  1  0  0   1
2  2  1  1   3
3  4  2  2   6
4  5  5  4  10
5  3  4  5   7
6  2  2  6   4
7  5  1  2   6
8  6  0  1   6

In [ ]:
#drop multiple column
df_temp.drop(['a','c'],axis =1,inplace = True)

In [ ]:
df_temp

   b   d
0  3   3
1  0   1
2  1   3
3  2   6
4  5  10
5  4   7
6  2   4
7  1   6
8  0   6

In [ ]:
df_temp.drop([1,4,5],axis =0 ,inplace=True)
df_temp

   b  d
0  3  3
2  1  3
3  2  6
6  2  4
7  1  6
8  0  6

In [ ]:
df_temp.rename(columns={'b':'bb','d':'dd'},inplace =True)

In [ ]:
df_temp

   bb  dd
0   3   3
2   1   3
3   2   6
6   2   4
7   1   6
8   0   6

In [1]:
try:
    print(x)
except NameError:
    print("Variable x is not defined")

Variable x is not defined

In [2]:
def square(x):
    return x*x

print(square(3))

9

In [4]:
s = {x.upper() for x in {'Apple', 'Banana', 'Cherry'}}
print(s)

{'BANANA', 'APPLE', 'CHERRY'}

In [5]:
class fruits:
    def __init__(self, price):
        self.price = price
obj=fruits(50)

obj.quantity=10
obj.bags=2

print(obj.quantity+len(obj.__dict__))

13

In [6]:
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
def printMax(a, b):
    if a > b:
        print(a, 'is maximum')
    elif a == b:
        print(a, 'is equal to', b)
    else:
        print(b, 'is maximum')
printMax(3, 4)

4 is maximum

In [8]:
class Shape:
    def __init__(self, color):
        self.color = color

class Square(Shape):
    def __init__(self, color, side):
        super().__init__(color)
        self.side = side

square1 = Square("red", 5)

print(square1.color)
print(square1.side)

red
5

In [9]:
s = {x**2 for x in range(5)}
print(s)

{0, 1, 4, 9, 16}

In [10]:
try:
    print("Try block")
finally:
    print("Finally block")

Try block
Finally block

In [17]:
class A:
        def __init__(self):
                self.count=5
                self.count=self.count+1

a=A()
print(a.count)

6

In [18]:
def divide(x, y):
    return x / y

print(divide(10, 0))

ZeroDivisionError: ignored

In [19]:
s = {len(x) for x in {'apple', 'banana', 'cherry'}}
print(s)

{5, 6}

In [23]:
for x in {'apple','banana','cherry'}:
  print(len(x))

5
6
6

In [24]:
my_string ='sadashish kumar'
k = [i for i in my_string if i not in "aeiou"]
print(k)

['s', 'd', 's', 'h', 's', 'h', ' ', 'k', 'm', 'r']

In [25]:
class Cat:
    def __init__(self, name):
        self.name = name

    def meow(self):
        print("Meow!")

cat1 = Cat("Fluffy")
cat1.meow()

Meow!

In [28]:
class A:
    def __init__(self,name):
        self.name=name
a1=A("john")
a2=A("john")
print(a2.name)
print(a1.name)

john
john

In [29]:
nums = [1, 2, 3, 4, 5]
d = {n: 'even' if n % 2 == 0 else 'odd' for n in nums}
print(d)

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd'}

In [30]:
class A:
    def __init__(self):
        print("A")

class B(A):
    def __init__(self):
        print("B")
        super().__init__()

obj = B()

B
A

In [31]:
letters = ['a', 'b', 'c', 'd', 'e']
vowels = {'a', 'e', 'i', 'o', 'u'}
consonants = {letter for letter in letters if letter not in vowels}
print(consonants)

{'c', 'b', 'd'}

In [33]:
def sum1(number):
  total =0
  for x in number:
    total +=x
  return total
n = eval(input())
print(sum1(n))

8,9
17

Reverse the string

In [34]:
def rev_string(str1):
  string1 = ''
  index = len(str1)
  while index >0:
    string1 += str1[index-1]
    index -=1
  return string1

strn = input()
print(rev_string(strn))

sadashish
hsihsadas

**Find maxium number between 3 given number**

In [37]:
def max_of_two(x,y):
  if x>y:
    return x
  return y
def max_of_three(x,y,z):
  return max_of_two(x,max_of_two(y,z))

x = int(input())
y = int(input())
z = int(input())
print(max_of_three(x,y,z))

45
54
56
56